@model List<TaskModel>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-5 mt-4">Lista de afazeres</h1>
    <div class="color-desc mt-4">
        <div class="flex-display">
            <div class="yellow ball"></div>
            <p class="paragraph-desc">A fazer</p>
        </div>
        <div class="flex-display">
            <div class="green ball"></div>
            <p class="paragraph-desc">Completo</p>
        </div>
    </div>
    <a class="task-list">
        <a class="btn btn-outline-success create-new-task text-light mt-2 mb-1" asp-controller="Home" asp-action="Create">
            <i class="fa fa-plus"></i>
        </a>
        @if (Model != null && Model.Any())
        {
            foreach (TaskModel task in Model)
            {
                if (task.Status == "Pendente")
                {
                    <div class="window window-remove">
                        <div>
                            <h5 class="window-title">Deseja mesmo excluir a task:</h5>
                            <p>"@task.Task"?</p>
                        </div>
                        <div class="window-buttons">
                            <a class="btn btn-outline-success text-light">Cancelar</a>
                            <a class="btn btn-outline-danger text-light" asp-controller="Home" asp-action="Delete" asp-route-id="@task.Id">Confirmar</a>
                        </div>
                    </div>
                    <div class="add-task">
                        <div class="title-div">
                            <p class="title-task">@task.Task</p>
                        </div>
                        <div>
                            <a class="btn btn-outline-light text-light mr-1" asp-controller="Home" asp-action="Update" asp-route-id="@task.Id"><i class="fa fa-edit"></i></a>
                            <a class="btn btn-outline-success mr-1 text-light" asp-controller="Home" asp-action="UpdateStatus" asp-route-id="@task.Id"><i class="fa fa-check"></i></a>
                            <a class="btn btn-outline-danger text-light window-open"><i class="fa fa-x"></i></a>
                        </div>
                    </div>
                }
                else if (task.Status == "Completo")
                {
                    <div class="window window-remove">
                        <div>
                            <h5 class="window-title">Deseja mesmo excluir a task:</h5>
                            <p>"@task.Task"?</p>
                        </div>
                        <div class="window-buttons">
                            <a class="btn btn-outline-success text-light">Cancelar</a>
                            <a class="btn btn-outline-danger text-light" asp-controller="Home" asp-action="Delete" asp-route-id="@task.Id">Confirmar</a>
                        </div>
                    </div>
                    <div class="add-task done">
                        <div class="title-div">
                            <p class="title-task">@task.Task</p>
                        </div>
                        <div>
                            <a class="btn btn-outline-light text-light mr-1" asp-controller="Home" asp-action="Update" asp-route-id="@task.Id"><i class="fa fa-edit"></i></a>
                            <a class="btn btn-outline-warning mr-1 text-light" asp-controller="Home" asp-action="PendingStatus" asp-route-id="@task.Id"><i class="fa-solid fa-arrow-left"></i></a>
                            <a class="btn btn-outline-danger text-light window-open"><i class="fa fa-x"></i></a>
                        </div>
                    </div>
                }
            }
        }
        else
        {
            <h3 class="text-center text-light mt-5">Você não possui nenhuma tarefa</h3>
        }

</div>
